/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media screen and (max-width: 600px) {
  /* line 5, ../sass/screen.scss */
  #intro-container {
    width: 310px;
  }
}
@media screen and (min-width: 600px) {
  /* line 10, ../sass/screen.scss */
  #intro-container {
    width: 500px;
  }
}
/* line 15, ../sass/screen.scss */
body.home {
  cursor: crosshair;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-image: url("../../images/nyc.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: Helvetica, Gotham, Myriad Pro;
}
/* line 29, ../sass/screen.scss */
body.home #intro-container {
  position: absolute;
  left: 50%;
  top: 45%;
  height: auto;
  transform: translate(-50%, -50%);
  -webkit-filter: opacity(90%);
  filter: opacity(90%);
}
/* line 38, ../sass/screen.scss */
body.home #introduction {
  position: relative;
  padding: 5%;
  color: #000;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: medium;
  text-align: left;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
/* line 52, ../sass/screen.scss */
body.home #introduction h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}
/* line 57, ../sass/screen.scss */
body.home #introduction p {
  font-size: 20px;
  line-height: 200%;
}
/* line 61, ../sass/screen.scss */
body.home #introduction a, body.home #introduction a:visited {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: medium;
  color: black;
  padding: 2px;
}
/* line 71, ../sass/screen.scss */
body.home #introduction #mlbam:hover {
  color: #007ab5;
}
/* line 74, ../sass/screen.scss */
body.home #introduction #linkedin:hover {
  background-color: #007ab5;
  color: #fff;
}
/* line 78, ../sass/screen.scss */
body.home #introduction #github:hover {
  background-color: #000;
  color: #fff;
}
