@import "compass";
@import "compass/reset";

@media screen and (max-width: 600px){
#intro-container{
width: 310px;
padding: 5%;
}
}
@media screen and (min-width: 600px){
#intro-container{
width: 500px;
padding: 30px;
}
}
html{
width: 100%;
height: 100%;
}
body.home{
background: url("../../images/hero-image.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
cursor: crosshair;
overflow-x:hidden;
font-family: Helvetica, Gotham, Myriad Pro;
color: #fff;
#intro-container{
position: absolute;
left: 50%;
top: 45%;
height: auto;
transform: translate(-50%, -50%);
background-color: #000;
opacity: 0.8;
}
#introduction{
position: relative;
text-align: left;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	h1{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	}
	p{
	font-size: 20px;
	line-height: 200%;
	}
	a, a:visited{
	text-decoration: none;
	font-size: 20px;
    color: #fff;
	}
	.social-media a{
	margin-right: 15px;
	}
	.social-media i:hover{
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
	transform: rotate(10deg);
	}
	/* #mlbam:hover{
	color: #007ab5;
	}
	#linkedin:hover{
	background-color: #007ab5;
	color: #fff;
	}
	#github:hover{
	background-color: #000;
	color: #fff;
	} */
}//contact
}//body
