@import "compass";
@import "compass/reset";
@import 'variables';

html {
    width: 100%;
    height: 100%;

    body.home {
        background: url("../../images/hero-image.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        cursor: crosshair;
        overflow-x: hidden;
        font-family: Helvetica, Gotham, Myriad Pro;
        color: $gray;

        #intro-container {
            position: absolute;
            left: 50%;
            top: 50%;
            height: auto;
            transform: translate(-50%, -50%);
            background: rgba(0, 0, 0, 0.8);
        }

        #introduction {
            position: relative;
            text-align: left;
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently supported by Chrome and Opera */
            .title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: $font-size-25;
                margin-bottom: 15px;
            }

            .blurb {
                font-size: $font-size-20;
                line-height: 200%;
                margin-bottom: 15px;
            }

            a,
            a:visited {
                text-decoration: none;
                font-size: $font-size-20;
                color: #fff;
            }

            .social-media i {
                padding: 10px;
            }

            #mlbam:hover {
                color: #007ab5;
            }

            .social-media i:hover {
                color: #007ab5;
            }
            /* #linkedin i:hover{
	// background-color: #007ab5;
	color: #0077B5;
	}

	#github:hover{
	// background-color: #fff;
	color: #767676;
	}

	#stackoverflow:hover{
	// background-color: #fff;
	color: #F48024;
	}

	#email:hover{
	// background-color: #fff;
	color: #db3236;
	} */
        } //contact
    } //body
}

@media screen and (max-width: 600px) {
    #intro-container {
        width: 310px;
        padding: 5%;
    }
}

@media screen and (min-width: 600px) {
    #intro-container {
        width: 500px;
        padding: 30px;
    }
}