@import "compass";
@import "compass/reset";

@media screen and (max-width: 600px){
#intro-container{
width: 310px;
}
}
@media screen and (min-width: 600px){
#intro-container{
width: 500px;
}
}

body.home{
cursor: crosshair;
height: 100vh;
width: 100%;
overflow-x:hidden;
background-image: url("../../images/hero-image.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
font-family: Helvetica, Gotham, Myriad Pro;
display:table;
color: white;
height: 350px;
#intro-container{
position: absolute;
left: 50%;
top: 45%;
height: auto;
transform: translate(-50%, -50%);
background-color: black;
opacity: 0.8;
padding: 2%;
}
#introduction{
position: relative;
padding: 5%;
border-style: solid;
border-width: medium;
text-align: left;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	h1{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	}
	p{
	font-size: 20px;
	line-height: 200%;
	}
	a, a:visited{
	text-decoration: none;
	font-size: 20px;
    color: #fff;
	}
	.social-media a{
		margin-right: 15px;
	}
	/* #mlbam:hover{
	color: #007ab5;
	}
	#linkedin:hover{
	background-color: #007ab5;
	color: #fff;
	}
	#github:hover{
	background-color: #000;
	color: #fff;
	} */
}//contact
}//body