@import '~font-awesome/css/font-awesome.css';
@import 'colors';
@import 'breakpoints';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;

    .home {
        background: url("../images/hero-image.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        cursor: crosshair;
        overflow-x: hidden;
        font-family: Helvetica, Gotham, Myriad Pro;
        color: $gray;
        width: 100%;
        height: 100%;

        // media queries
        @media screen and (max-width: $screen-sm-max) {
            .introduction {
                width: 290px;
                padding: 5%;
            }
        }

        @media screen and (min-width: $screen-md-min) {
            .introduction {
                width: 500px;
                padding: 30px;
            }
        }

        .introduction {
            position: absolute;
            left: 50%;
            top: 50%;
            height: auto;
            transform: translate(-50%, -50%);
            background: $dark-gray;
            text-align: left;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            h1 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 25px;
                margin: 0 0 20px 0;
            }

            p {
                font-size: 20px;
                line-height: 200%;
                margin: 0 0 20px 0;

                .jpmc:hover {
                    color: $hover-blue;
                }
            }

            a,
            a:visited {
                text-decoration: none;
                font-size: 20px;
                color: $white;
            }

            .social-media {
                text-align: center;

                i {
                    padding: 10px;

                    &:hover {
                        color: $hover-blue;
                    }
                }
            }
        }
    }
}
